body{
	margin:0;
	width:1200px;
	font-size:1em;
}
.titulo{
	font-size: 2em;
}
.menu{
	width:700px;
	margin: 0 auto;
}
.menu li{
	display:inline-block;
	min-width:200px;
	max-width:400px;
}
.menuf{
	width:900px;
	margin: 0 auto;
}
.menuf li{
	display:inline-block;
	min-width:200px;
	max-width:400px;
}
.menuf li a{
	width:250px;
}
@media screen and (max-width: 600px){
	.menu li{
		display:block;
		width:200px;
	}
	.menuf li{
		display:block;
	}
	.menuf li a{
		width:160px;
	}
}